div(class=styles.model)
  header
    | 选择城市：北京
    input(type='radio' name='city')
  ul
    h3 A（以A为开头的城市名）
    li
      label
        span 北京市
        input(type='radio' name='city')
    li
      label
        span 北京市
        input(type='radio' name='city')
  footer
    label
      input(type='radio' name='readed')
      | 我已阅读
      a(href='#') 关于上牌城市说明
    button.submit 确认
